.blogContainer{
    width: 90dvw;
    margin:0 auto;
    position: relative;
   


    article{
        display: flex;
        margin: 0;
        width: 100%;
        height: 150px;
        cursor: pointer;
     
        // border: 1px solid gray;

        figure{
            width: 115px;
            min-width: 100px;
            height: 115px;
            margin-left: 0;
            margin-right: 18px;
            

            img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
        .articleContent{
            margin: auto 0;
            line-height: 1.5;
            max-width: 70dvw;

            h2{
                color: #ffffff;
                max-height: 55px;
                overflow: hidden;
                line-height: 1.08;
            }
            p{
                max-height: 25px;
                overflow: hidden;
                margin-top: 3px;
            }
            span{
                word-spacing: 2px;
                
            }
        }
 
    }
    article:active{
        background-color: rgb(33, 37, 49);
    }
}