.footer-container {
  margin-top: 55px;
  height: auto;
  border-top: 4px solid rgba(29, 29, 41, 0.37);
  padding-top: 15px;
}
.footer-container .footer-inset-container {
  height: auto;
}
.footer-container .footer-inset-container .mainFooter {
  max-width: 100dvw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.footer-container .footer-inset-container .mainFooter .socialMedia {
  display: flex;
  flex-shrink: unset;
  flex-direction: column;
  line-height: 1;
}
.footer-container .footer-inset-container .mainFooter .socialMedia .facebook, .footer-container .footer-inset-container .mainFooter .socialMedia .instagram, .footer-container .footer-inset-container .mainFooter .socialMedia .tiktok, .footer-container .footer-inset-container .mainFooter .socialMedia .youtube {
  display: flex;
  height: auto;
  margin: 0;
  color: #888787;
  cursor: pointer;
}
.footer-container .footer-inset-container .mainFooter .socialMedia .facebook .icon, .footer-container .footer-inset-container .mainFooter .socialMedia .instagram .icon, .footer-container .footer-inset-container .mainFooter .socialMedia .tiktok .icon, .footer-container .footer-inset-container .mainFooter .socialMedia .youtube .icon {
  margin: auto 10px;
}
.footer-container .footer-inset-container .mainFooter .socialMedia .sm:hover {
  color: rgb(118, 118, 223);
}
.footer-container .footer-inset-container .mainFooter .quickLink {
  display: flex;
  flex-direction: column;
}
.footer-container .footer-inset-container .mainFooter .quickLink .quickSpan {
  display: flex;
  flex-direction: column;
  line-height: 2;
}
.footer-container .footer-inset-container .mainFooter .quickLink .quickSpan .link {
  text-decoration: none;
}
.footer-container .footer-inset-container .mainFooter .quickLink .quickSpan .link span:hover {
  color: rgb(118, 118, 223);
}
.footer-container .footer-inset-container .mainFooter .quickLink .quickSpan .link:last-child {
  background-color: rgb(58, 1, 58);
  padding: 5px;
  word-spacing: 4px;
  border-radius: 5px;
  box-shadow: 1px 2px gray;
}
.footer-container .footer-inset-container .mainFooter .quickLink .quickSpan .link:last-child span {
  font-weight: 600;
  color: #ffffff;
}
.footer-container .footer-inset-container .mainFooter .quickLink .quickSpan .link:last-child:active {
  border: none;
  box-shadow: none;
}
.footer-container .footer-inset-container .others {
  width: 90dvw;
  height: auto;
  padding: 22px 0;
  border: 0.8px solid rgba(255, 255, 255, 0.2705882353);
  border-style: dashed;
  border-bottom: none;
  border-right: none;
  border-left: none;
  margin: 0 auto;
}
.footer-container .footer-inset-container .others .others-details {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.footer-container .footer-inset-container .others .others-details .terms-privacy-cookies {
  text-align: center;
  display: flex;
}
.footer-container .footer-inset-container .others .others-details .terms-privacy-cookies .link {
  text-decoration: none;
}
.footer-container .footer-inset-container .others .others-details .terms-privacy-cookies span:hover {
  color: rgb(115, 151, 250);
}
.footer-container .footer-inset-container .others .others-details .terms-privacy-cookies span {
  margin-left: 16px;
}/*# sourceMappingURL=footer.css.map */