.heroContainer{
    width: 90dvw;
    margin:22px auto;
    padding: 0;
    height: auto;
    // padding-bottom: 22px;
    background-color: #161616;
    border-radius: 12px;
    

    .figure{
        width: 100%;
        height: auto;
        max-height: 50dvh;
        margin:  auto;
        display: flex;
        background: linear-gradient(120deg, #17141d, #071732);
        animation: gradientMove 4s ease infinite;
        


        img{
            width: auto;
            max-width: 90dvw;
            max-height: 50dvh;
            border-radius: 10px;
            margin: auto;
            // display: flex;
            opacity: 0.8;
        }
    
    }
    // @keyframes gradientMove {
    //     0%{
    //         background-position: 0% 50%;
    //         background: linear-gradient(120deg, #5b09b4, #0b60f3);
    //     }
    //     50%{
    //         background-position: 50% 100%;
    //         background: linear-gradient(120deg, #7927d0, #357cf7);
    //     }

        
    //     100%{
    //         background-position: 0% 50%;
    //         background: linear-gradient(120deg, #330367, #033283);
    //     }
    // }


    .hero-content{
        width: 100%;
        margin: auto;
        line-height: 1.5;
        color: #ffffff;
        margin-top: 22px;
        margin-left: 15px;

        h2{
            cursor: pointer;
        }
        .p, h2:hover{
            color: rgb(212, 209, 209);
        }
        .p{
            max-height: 22px;
            overflow: hidden;
            cursor: pointer;
        }

        button{
            margin-top: 14px;
            width: 85px;
            height: 32px;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: rgb(23, 98, 248);

        }
        button:hover{
            background-color: rgb(27, 80, 241);
        }
        button:active{
            color: rgb(212, 199, 199);
        }
    }
}