.heroContainer{
    width: 90dvw;
    margin:22px auto;
    padding: 0;
    padding-bottom: 22px;
    background-color: #161616;
    border-radius: 12px;

    figure{
        width: 100%;
        max-height: 90vh;
        margin: 0 auto;

        img{
            width: 100%;
            max-height: 90vh;
            border-radius: 10px;
            margin: 0;
        }
    }

    .hero-content{
        width: 100%;
        margin: auto;
        line-height: 1.5;
        color: #ffffff;
        margin-top: 22px;
        margin-left: 15px;
        

        button{
            margin-top: 14px;
            width: 85px;
            height: 32px;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: rgb(23, 98, 248);

        }
        button:hover{
            background-color: rgb(27, 80, 241);
        }
        button:active{
            color: rgb(212, 199, 199);
        }
    }
}