.heroContainer{
    width: 100dvw;
    margin:22px 0;
    padding: 0;

    figure{
        width: 90%;
        height: 70dvh;
        margin: 0 auto;

        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            margin: 0;
        }
    }

    .hero-content{
        width: 90%;
        margin: auto;
        line-height: 1.5;
        color: #ffffff;
        margin-top: 22px;
        

        button{
            margin-top: 14px;
            width: 85px;
            height: 28px;
            color: #ffffff;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            background-color: rgb(23, 98, 248);

        }
        button:hover{
            background-color: rgb(27, 80, 241);
        }
        button:active{
            color: rgb(212, 199, 199);
        }
    }
}