.readContainer{
    width: 90dvw;
    margin: auto;

    header{
        width: 100%;
        height: 85px;
        justify-content: space-between;
        
        .link{
            margin: auto 0;
        }
       .readIcon{
        color: #ffffff;
        height: 32px;
        width: 32px; 
        cursor: pointer;
         margin: auto 0;
       }
       .readIcon:last-child:active{
        color: red;
       }
    }

    .headerContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        figure{
            width: 100%;
            background-color: rgb(11, 11, 34);
            margin: auto;
            height: 360px;
            align-items: center;
            display: flex;

            img{
                width: auto;
                max-width: 90dvw;
                margin:auto;
                height: 360px;
      
            }
        }

        .profile{
            display: flex;
            width: 100%;
            justify-content: space-between;

            .profileCon{
                width: auto;
                display: flex;

                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    margin: auto 0;
                }
                h3{
                    color: #ffffff;
                    margin: auto 0;
                    margin-left: 22px;
                    font-family: clash-display-bold;
                }
            }
            span{
                margin: auto 0;
            }
        }
    }

    p{
        margin: 65px 0;
        line-height: 1.5;
        font-family: montserrat-light;
        font-size: large;
        
    }

    .shareLinks{
        display: flex;
        width: 200px;

        .shareLink{
            width: 30px;
            height: 30px;
            margin: 12px auto;
            color: #ffffff;
            padding: 7px;
            background-color: rgb(39, 39, 56);
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .youMightLikeThis{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 22px;
        border-top: 1px solid rgb(39, 39, 56);
        margin-top: 32px;

        .otherBlog{
            width: auto;
            height: auto;
            display: flex;
            cursor: pointer;
           
            

            figure{
                
                margin-left: 0;
                margin-right: 12px;
                img{
                    width: 100px;
                    height: 100px;
                    margin: auto 0;
                    border-radius: 8px;
                }
            }
            .otheBloContent{
                display: flex;
                flex-direction: column;
                margin: auto 0;


                p{
                    color: rgb(55, 55, 245);
                    font-size: 14px;
                    font-family: clash-display-bold;
                    letter-spacing: 1px;
                    margin: 0;
                }
            }
        }
    }
}