.sportContainer{
    width: 90dvw;
    height: auto;
    padding: 55px 0;
    margin: auto;
    overflow-x: none;

    .sportTitle{
        width: 100%;
        display: flex;
        justify-content: space-between;
        

        h1{
            color: #ffffff;
            // letter-spacing: 1px;
        }
        .link span{
            color: rgb(129, 129, 255);
            text-decoration: none;
        }
    }
    .sportCards{
        display: flex;
        flex-direction: row;
        // max-width: 90dvw;
        margin-top: 22px;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 360px;
      



        .card1, .card2, .card3, .card4, .card5,
        .card6, .card7, .card8{
            min-width: 200px;
            height: 312px;
            margin-right: 10px;
            

            img{
                width: 100%;
                height: 80%;
                border-radius: 10px;
            }
            h2{
                width: 100%;
                color: #ffffff;
            }
           
        }
    }
    .sportCards::-webkit-scrollbar{
        display: none;
    }
}