.sportContainer{
    width: 90dvw;
    height: auto;
    padding: 55px 0;

    .sportTitle{
        width: 100%;
        display: flex;
        margin-left: 2.5%;
        justify-content: space-between;

        h2{
            color: #ffffff;
        }
    }
    .sportCards{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 22px;


        .card1, .card2, .card3{
            width: 186px;
            height: 312px;
            margin: 0 10px;

            img{
                width: 100%;
                height: 80%;
                border-radius: 10px;
            }
            h2, p{
                width: 100%;
                color: #ffffff;
            }
            p{
                color: gray;
            }
        }
    }
}