.sportContainer{
    width: 90dvw;
    height: auto;
    padding: 55px 0;
    margin: 0 auto;
    overflow-x: none;

    .sportTitle{
        width: 100%;
        display: flex;
        justify-content: space-between;
        

        h1{
            color: #ffffff;
            // letter-spacing: 1px;
            
        }
        .link{
            
            text-decoration: none;
            
            margin: auto 0;
            span{
                color: rgb(0, 153, 255);
                font-size: 14px;        
            }
             span:hover{
                color: red;
             }
            
        }
    }
    .sportCards{
        display: flex;
        flex-direction: row;
        // max-width: 90dvw;
        margin-top: 22px;
        overflow-x: scroll;
        overflow-y: hidden;
        height: auto;
      



        .card1, .card2, .card3, .card4, .card5,
        .card6, .card7, .card8{
            min-width: 242px;
            max-height: 372px;
            margin-right: 14px;
            cursor: pointer;
            

            img{
                width: 100%;
                height: 75%;
                border-radius: 10px;
            }
            h2{
                width: 100%;
                max-height: 71px;
                overflow: hidden;
                color: #ffffff;
            }
           
        }
        .card1:hover{
            background-color: rgb(21, 20, 44);
            margin:0 10px;
            border-radius: 5px;
        }
    }
    .sportCards::-webkit-scrollbar{
        display: none;
    }
}