header{
    width: 90dvw;
    height: 122px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;

    nav{
        width: 100%;
        height: 100%;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
       
        figure{
            max-width: 222px;
            height: auto;
            border: none;
            margin: auto;
            margin-left: 0;
            // background-color: red;
            justify-content: space-between;
            
            img{
                width: 100px;
                height: 65%;
                
                cursor: pointer;
                 
            }
        }
     
        h1{
            color: #ffffff;
            width: 30%;
            margin: auto 0;
        }
        .searchIcon{
            width: 45px;
            height: 45px;
            margin: auto;
            margin-right: 0;
            color: #ffffff;
            cursor: pointer;
            
        }
        .searchIcon:active{
            color: rgb(201, 47, 0);
        }
    }
    
}