.travelAndTourismContainer {
  width: 90dvw;
  height: 320px;
  margin:195px auto;
  margin-top: 14px;
 
  
  


  

  .travelTitle {
    max-width: 100%;
    display: flex;
    // margin-left: 2.5%;
    justify-content: space-between;
    box-sizing: border-box;

    h1 {
      color: #ffffff;
      
    }
  }

  .travelCards {
    width: auto;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin:0 auto;
    height: auto;

    .card {
      max-width: 212px;
      height: 320px;
      margin: 22px 0;
      margin-right: 12px;

      img {
        max-width: 212px;
        width: 100%;
        max-height: 156px;
        border-radius: 10px;
      }

      h2 {
        width: 100%;
        color: #ffffff;

      }

      p {
        color: gray;
        max-height: 52px;
        overflow: hidden;
      }
    }
  }
  .travelCards::-webkit-scrollbar{
    display: none;
  }
}

